.divcontainer {
  padding: 80px;
  gap: 80px;
 
  /* height: 1282px;  */
     background-repeat: no-repeat;
       object-fit: cover;
 display: flex;
 flex-direction: column;
 /* align-items: center; */
   
 /* justify-content: center; */
    background: url(./image/Ellipse1.png);
    background-size: auto;
    background-position: right top;
    background-repeat: no-repeat;
 object-fit: cover;

background-color: var(--roxoClaro);
}

.sectionTextc {
  gap: 24px;
  display: flex;
   flex-direction: row;
 
}
.topBarText{

 gap: 20px;
display: flex;
flex-direction: column;

}

.caption{
  color: var(--amarelo);
  font-weight: 500;
  font-size:var(--lg) ;
  line-height: 22px;

}


.secundary{
  color: var(--branco);
 font-weight: 800;
 font-size:var(--ls) ;
 line-height: 62px;

width: 800px;
 }
.screen{
  width: 750px;
  object-fit: cover;

}
.screenI{
  margin: 24px  0  0 120px;
}

.eclipse{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 60px;
}


.eclipse .textRight{
  font-weight: 400;
  font-size: var(--xm);
  color: var(--branco);
  line-height: 28.8px;

}


  